/*
Created by Christopher Lai on 2016.04.12 
Copyright © 2016 Christopher Lai. All rights reserved.
*/
/* 
    Created on : Apr 12, 2016, 12:50:27 PM
    Author     : chrislai
*/

/* General Style
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body{
    background-color: #F5F3EE !important;
}

#content{
    min-height: 69vh;
    padding: 0 25px;
}

select[size].form-control{
    height: 34px;
}
.knowledgeBase{
    margin:40px auto;
    max-width:650px;
    line-height:1.6;
    font-size:18px;
    color:#444;
    padding: 0 15px 35px 15px;
}
.knowledgeBase h1,.knowledgeBase h2,.knowledgeBase h3{line-height:1.2}

.panelPadding{
    padding-top: 25px;
    padding-bottom: 25px;
}

/* Dropdown Style
-------------------------------------------------- */
.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}


/* Custom Homemade Style 
-------------------------------------------------- */
.buttonText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    font-weight: normal;
    font-style: normal;
}
.highlightTable tr:hover{
    cursor:pointer;
    background-color: #f9f9f9;
}

.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

.card {
    /*    background-color: #fff;
        box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
        -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);*/
    border: 1px solid #607D8B;
    overflow-y: auto;
    height: 300px;
}
.card.cardFirst{
    border-right: none;
}
.centerText{
    text-align: center;
}

.profile-table{
    vertical-align: middle;
    margin: auto auto;
}

.profile-table input{
    width: 100%;
}

.block-image{
    display:block;
}

/* Index Style
-------------------------------------------------- */
.container.indexImageContainer{
    position: relative;
    padding: 0;
}
#indexImage{
    background-image: url("/MyTCGTrader/resources/images/magicBinder.JPG");
    width: 100%;
    height: 90vh;
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
#indexImage:after {
    content: '\A';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    transition: all 1s;
    -webkit-transition: all 1s;
    opacity: 1;
}
#indexImageText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 42px;
    color: white;
}
#indexImageText span{
    font-size: 24px;
}

/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}
.featurette-image {
    width: 400px;
    height: 400px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }

    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}

#singlebutton{
    padding: 15px 45px; 
    font-size: 24px;
}

/* CreateOffer CSS
-------------------------------------------------- */
.CreateOfferTop{
    
}
.createOfferList{
    
}

.createOfferList td{
    display: block;
}
.createOfferList td input{
    margin-right: 10px;
    height: 21px;
    width: 25px;
}
.createOfferList td label, .cardLink{
    font-size: 25px;
}
.offerTextfield{
    width: 100%;
    min-height: 100px;
}
.whiteBackground{
    background-color: white;
}

.buttonMargin{
    margin-top: 15px;
    margin-bottom: 15px;
}
.buttonRightPadding{
    padding-right: 15px;
    padding-bottom: 15px;
    height: 50px;
}
.user-photo{
    border-radius: 50%;
    height: 90px;
    width: 90px;
}
.scrollable{
    overflow-y: visible;
}

/* MyBinder CSS
-------------------------------------------------- */
.binder,.wants-list{
    min-height: 250px !important;
}